<html>
  <head>  
  </head>
  <body>
    <!-- <label>输入框：</label>
    <input [(ngModel)]="title" pInputText placeholder="请输入" />
    <br /> -->

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">输入框:</span>
          <input
            type="text"
            [(ngModel)]="title"
            pInputText
            placeholder="请输入"
          />
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <div >
    <h4><label for="search-box">Someone Search</label></h4>
   
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
   
    <ul class="search-result">
      <li *ngFor="let someone of someones$ | async" >
        <a routerLink="/detail/{{someone.id}}">
          {{someone.name}}
        </a>
      </li>
    </ul>
  </div> -->
