<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 	
 </head>
<body>
<!-- <table border="1">
	<caption>表格</caption>
	<thead>
		<tr>
			<th *ngFor="let col of tHead">{{col}}</th>
		</tr>
  </thead>
	<tbody>
		<tr *ngFor="let someone of someones">
      <td>{{someone.id}}</td>
      <td>{{someone.name}}</td>
      <td>{{someone.sex}}</td>
      <td>{{someone.phone}}</td>
      <td>{{someone.address}}</td>
    </tr>
  </tbody>
</table> -->


<p-table [value]="someones">
    <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of tHead">{{col}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-someone>
      <tr>
        <td>{{someone.id}}</td>
        <td>{{someone.name}}</td>
        <td>{{someone.sex}}</td>
        <td>{{someone.phone}}</td>
        <td>{{someone.address}}</td>
      </tr>
    </ng-template>
</p-table>




</body>
</html> 
<br>
<app-input (soonOutput)="stringIChange($event)"></app-input>
