<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
 </head>
<body>
	<div>{{soonInput}}</div>	

<table border="1">
	<caption>表格</caption>
	<thead>
		<tr>
			<th *ngFor="let col of tHead">{{col}}</th>
		</tr>
  </thead>

	<tbody>
		<tr *ngFor="let someone of someones">
      <td>{{someone.id}}</td>
      <td>{{someone.name}}</td>
      <td>{{someone.sex}}</td>
      <td>{{someone.phone}}</td>
      <td>{{someone.address}}</td>
    </tr>
  </tbody>

</table>

</body>
</html> 
